# Core ML & data
tflite-runtime; sys_platform == 'linux'
tensorflow-cpu; sys_platform == 'win32'
numpy<2.0.0
opencv-python-headless

# Groq (LLM API)
groq

# Web UI
streamlit
pillow

# Environment variables
python-dotenv

rich
